.upload-picture
  = form_for @picture do |f|
    .form-group
      = f.label :file
      = f.file_field :file, title: 'Search for a file to add'
    .actions
      = f.submit 'Upload', class: 'btn btn-info btn-large'
