.form-group.row
  .col-xs-8
    %label.control-label.h1= 'Reports from'
    #datepicker.input-group.date{"data-date" => @date, "data-date-format" => "mm-yyyy", data: { on_change_url: reports_path }}
      %input.form-control{readonly: "readonly", type: "text", value: @date}/
      %span.input-group-addon.add-on
        %i.glyphicon.glyphicon-calendar
.reports
  - if @reports && @reports.count > 0
    - @reports.each do |report|
      %ul.list-group
        %li.list-group-item
          =render partial: 'partials/report_summary', locals: { report: report, is_current_month: @is_current_month }
  - else
    No reports
