.page-header
  .h1= 'Reports from'
  #datepicker.date{"data-date" => @date, "data-date-format" => "mm-yyyy", data: { on_change_url: reports_path }}
    %span.add-on.btn.btn-block.btn-default.btn-lg
      %i.glyphicon.glyphicon-calendar
      = @date
.reports
  - if @reports && @reports.count > 0
    - @reports.each do |report|
      %ul.list-group
        %li.list-group-item
          =render partial: 'partials/report_summary', locals: { report: report, is_current_month: @is_current_month }
  - else
    No reports
