=render partial: 'partials/report_summary', locals: { report: @report, is_current_month: @is_current_month }
.row
  .col-xs-12.col-md-12
    .report-body
      = @report.body
    %p
      - @report.pictures.each do |p|
        =image_tag p.file

= link_to 'Back', reports_path
