=render partial: 'partials/report_summary', locals: { report: @report, is_current_month: @is_current_month }
.row
  .col-xs-12.col-md-12
    .report-body
      = @report.body
      - @report.pictures.each do |p|
        .thumbnail
          =image_tag p.file
          %h4= p.description
