.col-md-12
  .row
    =render partial: 'partials/report_summary', locals: { report: @report, is_current_month: @is_current_month }
  .row
    - today = Date.today
    - if @report.user == current_user && @report.month == today.month && @report.year == today.year
      = link_to 'Edit', edit_reports_path(@report), class: 'btn btn-info btn-large pull-right'
  .row
    %p.lead= @report.body
  .row
    - @report.pictures.each do |p|
      .thumbnail
        =image_tag p.file
        %h4= p.description
